*{
    scroll-behavior: smooth;
}
body{
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;   
}
.image-header{
    color:blue;
    opacity: 0;
    margin-bottom: 40px;
    /* pointer-events: none; */
}
.video-header{
    color:blue;
    opacity: 0;
    margin-bottom: 40px;
    /* pointer-events: none; */
}
.up-button img{
    margin: 0;
    border: none;
    height:30px;
    width: 35px;
    background-color: blue;
    scroll-behavior: smooth;
    
}
.up-button{
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px; 
    opacity: 0;
    transition: all .3s ease;
    scroll-behavior: smooth;
}



h1{
    text-align: center;
}
form{
     text-align:center; 
     flex-wrap:wrap; 
     background-size:cover;  
}
form input[type="text"]{
    border-radius: 5px;
    outline:none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    padding:13px 20px;
    margin-top:20px;
    margin-bottom: 40px;
    font-size: 20px;
    width: 20%;
    /* box-shadow: 0 0 5px rgba(0 0 5px .2); */
    
}
#search-button{
    /* margin-top: 50px; */
    border-radius: 5px;
    color: white;
    padding : 15px 50px;
    /* width: 10%; */
    background-color: #007FFF;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    transition: .4s ease;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.2);

}
#search-button:hover{
    background-color: blue;
}
.pageNumber{
    /* display:none; */
    text-align : right;
    position: relative;
    top:-15px;
    margin-bottom:10px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.errorQ{
    text-align: center;
    font-size: 23px;
    color: red;
    margin-top: 20px ;
}
.search-results {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.search-result {
    margin-bottom: 60px;
    width:30%;


}

.search-result img {
    width:100%;
    height:200px;
    object-fit:cover;  
    transition: transform 0.4s ease-in-out; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    /* padding:10px; */
}
.search-result:hover img{
    transform: scale(1.05);
}
.search-result  a{
    display: block;
    padding: 10px 10px;
    border-radius: 0 0 5px 5px;
    text-decoration: none;
    color: black;
    background-color: #f9f9f9;
    transition: background-color,transform .4s ease-in-out;
}
.search-result:hover a{
    background-color: #C0C0C0;
    transform: scale(1.05);
}

.search-results-videos{
    display : flex;
    flex-wrap:wrap;
    justify-content: space-between;
    max-width:1200px;
    margin : 0 auto;
}
.search-video{
    margin-bottom:60px;
    width:30%;
}
.search-video video{
    width:100%;
    height:200px;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.search-video:hover video{
    transform:scale(1.05);
}
.search-video  a{
    display: block;
    padding: 10px 10px;
    border-radius: 0 0 5px 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #f9f9f9;
    transition: background-color,transform .4s ease-in-out;
}
.search-video:hover a{
    background-color: #C0C0C0;
    transform: scale(1.05);
}
#showmore-button{
    border: none;
    padding: 10px 20px;
    position: absolute;
    left:50%;
    text-align: center;
    background-color: #03AC13;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0,0,0,.2);
    cursor: pointer;
    transition: background-color .3s ease;
    display:none;
}
#showmore-button:hover{
    background-color: green;
}
@media screen and (max-width:768px){
    .search-result {
        width:45%;
    }
    .search-video{
        width:45%;
    }
}
@media screen and (max-width:480px){
    .search-result {
        width:100%;
    }
    .search-video{
        width:100%;
    }
    form input[type="text"]{
        margin-bottom: 15px;
        width:60%;
    }
    #search-button{
        margin-bottom: 20px;
    }
}